@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Share+Tech+Mono|News+Cycle|Work+Sans:300,400,600');
@import 'variables';
@import 'theme';
//@import '../../node_modules/toastr/toastr';

html,
body {
  font-family: 'Share Tech Mono', serif;
  height: 100%;
}

body {
  color: $text-color;
  width: 100%;
  background-color: darken($border_bg, 2%);
}

#content {
  height: 100%;
}

a, a.icon {
  &:hover, &:focus {
    color: magenta;
    text-decoration: none;
  }
}

a.icon {
  color: $icon-color;
  line-height: 27px;
  padding: 0 5px;
}

