@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500|Share+Tech+Mono|News+Cycle|Work+Sans:300,400,600');
@import 'variables';
@import 'theme';
@import './tooltip.scss';

*, body, button, html, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

html,
body {
  font-family: 'Share Tech Mono', serif;
  height: 100%;
}

html {
  font-size: 1em;
}

body {
  color: $text-color;
  font-size: 100%;
  width: 100%;
  //background-color: darken($border_bg, 2%) !important;
  background: #20262e;
}


#content, #app {
  height: 100%;
}

a, a.icon {
  &:hover, &:focus {
    color: magenta;
    text-decoration: none;
  }
}

a.icon {
  color: $icon-color;
  line-height: 27px;
  padding: 0 5px;
}

a:active, a:focus, button::-moz-focus-inner, button:focus, input[type=button]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, select::-moz-focus-inner {
  outline: none !important
}

