@import 'codepen';

$text_color: darken($lighter, 25%);
$code_bg: #0f192a;
$heading_color: $neutral;
$heading_bg: $even_darker;
$border_bg: $dark;

$display_font: "Work Sans";
$code_font: "Source Code Pro";
$highlight_color: #4674C3;
$bg_color: lighten($dark, 10%);

$complementary1: #729025;
$complementary2: #CD6D5E;

.fa-icon {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  svg {
    vertical-align: middle;
  }
}

.fa-icon .large {
  height: 1.3em;
}

a {
  //color: darken(#C39B46, 10%);
  color: $darkest;
}

a:hover {
  color: $complementary2 !important;
}

%codemirror-common {
  font-family: $code_font, monospace;
  font-weight: 400;
  font-size: 0.9rem;
  height: auto;
}

body {
  font-family: $display_font;
}

.modal-dialog {
  color: $darkest;
  text-transform: uppercase;
}

.modal-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-content {
  background: $bg_color;
}

.modal-header {
  //border-bottom: solid 1px $darker;
  border: none;
}


.modal-footer {
  //border-top: solid 1px $darker;
  border: none;
}

.modal-body {
  //border-top: solid 1px $less_neutral;
  //border-bottom: solid 1px $darker;
  border: none;
}

input.form-control {
  background: $dark;
  border: none;
  &:focus {
    border: $highlight_color;
    color: $lighter;
  }
}

.extras{
  font-size: 0.75rem;
  a {
    margin-right: 20px;
    //color: $complementary2;
  }
}
