@import 'codepen';

$text_color: darken($lighter, 25%);
$code_bg: $darker;
$heading_bg: $even_darker;
$border_bg: $dark;

$display_font: "Work Sans";
$code_font: "Source Code Pro";
$highlight_color: cadetblue;
$bg_color: lighten($dark, 10%);
